/* SellerPage.module.css */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  */
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
  
  .seller-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
     overflow-y: auto;
  }
  
  
   